@import './variables.scss';
@import './topNav.scss';
@import './helpers.scss';
@import '~bulma';
@import url('https://fonts.googleapis.com/css?family=Proza+Libre|Fira+Mono');

html {
    background-color: $mainBackground;
    margin: 1rem;
    font-family: "Roboto";
}

#app {
    color: $font;
}

.header {
    text-align: left;
    font-weight: 500;
    font-size: 1rem;
}

// .button, #reset, #rate, #save {
//     background-color: $buttonColor;
// 	border-radius: 10px;
// 	outline: none;
// 	color: black;
//     font-weight: bold;
//     top: 1.3rem;
//     font-weight: 600;
//     padding: 0.4rem;
//     font-size: large;
//     cursor: pointer;
//     -webkit-tap-highlight-color: transparent;
//     color: lightgray;
// }

.button {
    border: 2px solid $primary;
    background-color: $mainBackground;
    color: $primary;

    &.is-round {
        border-radius: 10px;
    }

    &.is-small-button {
        max-height: 3rem;
    }
}

/* Calculator */

.field{
    width: 97%;
    max-width: 27rem;
    min-height: 15rem;
    padding: 3%;
    border-radius: 25px;
    border: 2px solid $primary;
}

.checkbox:hover {
    color: white;
}

.topButton {
    width: 2rem;
    cursor: pointer;
}

.is-input {
    width: 8rem !important;
    font-size: 1rem !important;
    background-color: $mainBackground;
    border: 3px solid $secondary;
    border-radius: 20px;
    color: $white;
}

.is-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder;
    opacity: 1;
}

.countryButton {
    width: 2.5rem;
    height: 2rem;
    margin: 0.2rem;
    margin-top: 1rem;
}

.checkbox input {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0.3rem;

    border: 2px solid red;
}
/* Helpers */

.is-flex-center {
    display: flex;
    justify-content: center;
}

/* Settings */


.smallInput {
  width: 5rem !important;
}

.is-setting-text {
    max-width: 10rem;
}

#reset{
  width: 11rem;
  height: 3.5rem !important;
}

#rate {
  width: 14.5rem;
  margin-top: 1rem;
  height: 3.5rem !important;
}

#save {
  width: 8rem;
  height: 2.8rem;
  margin-top: 2.5rem;
}

.is-result-value {
    margin-left: -2rem;
    overflow-wrap: break-word;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (max-width: 400px) {
    .is-result-text {
        margin-left: -2rem;
    }
    .is-result-value {
        margin-left: -0.4rem;
    }
    
}

@media (max-width: 370px) {
    .is-result-value {
        margin-left: 0.5rem;
    }
    
}